@model OneAttributeViewModel




<div class="container">
    <div class="float-sm-right" style="margin-left:5px; margin-top:23px;">
        <button type="button" class="btn btn-outline-success btn-sm" name="createSomething" id="createSomething" data-toggle="modal" data-target="#createModal" data-name="@Model.AttributeGroupId">Create</button>
    </div>
    <h1>Attribute</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name:</th>
                <th scope="col">Description:</th>
                <th scope="col">Added Date:</th>
                <th scope="col">Updated Date:</th>
                <th scope="col">Type:</th>
                <th scope="col">Delete</th>
                <th scope="col">Update:</th>
            </tr>
        </thead>
        @foreach (var oneAttr in Model.OneAttributes)
        {
            <tbody>
                <tr>
                    <td><p><i>@oneAttr.Name</i></p></td>
                    <td><p><i>@oneAttr.Description</i></p></td>
                    <td>@oneAttr.AddedDate.ToString("yyyy-MM-dd")</td>
                    <td>@oneAttr.UpdatedDate.ToString("yyyy-MM-dd")</td>
                    <td>@oneAttr.Type</td>
                    <td>
                        <button type="button"
                                class="btn btn-outline-danger btn-sm"
                                id="deleteItem"
                                data-toggle="modal"
                                data-id="@oneAttr.Id"
                                data-name="@oneAttr.Name"
                                data-target="#deleteProductAttrModal">
                            Delete
                        </button>
                    </td>

                    <td><button type="button" 
                                class="btn btn-outline-warning btn-sm" 
                                name="updateSomething" 
                                id="updateSomething" 
                                data-toggle="modal"
                                data-target="#updateModal">Update</button></td>
                </tr>
            </tbody>
        }
    </table>
</div>

@await Component.InvokeAsync("AttributeCrudVc", Model)
